<h1 class="app-h1">{{ "ELECTION.TITLE" | translate }} : {{ election.name }}</h1>

<p>{{ "VOTE.INSTRUCTION" | translate }}</p>

<div cdkDropList class="app-dragdrop-list" (cdkDropListDropped)="drop($event)">
  <div
    class="app-dragdrop-box"
    *ngFor="let candidate of this.election.candidates; let i = index"
    cdkDrag
  >
    <span class="app-rank-number">{{ i + 1 }}</span>
    <span>{{ candidate.name }}</span>
  </div>
</div>

<button
  class="app-form-button"
  mat-stroked-button
  color="accent"
  (click)="submit()"
>
  {{ "CONFIRM" | translate }}
</button>
<button
  class="app-form-button"
  mat-stroked-button
  color="primary"
  (click)="goBack()"
>
  {{ "CANCEL" | translate }}
</button>
