<h1 class="app-h1">{{ "ELECTION.CREATE" | translate }}</h1>

<form class="app-form" [formGroup]="electionForm">
  <mat-form-field class="app-form-field" appearance="outline">
    <mat-label>{{ "ELECTION.INPUT.NAME" | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      [placeholder]="'ELECTION.INPUT.NAME_EXAMPLE' | translate"
      required
    />
    <mat-error *ngIf="electionForm.controls.name.hasError('required')">
      {{ "ELECTION.INPUT.NAME" | translate }} {{ "IS_REQUIRED" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "ELECTION.INPUT.CLOSING_DATE_LABEL" | translate }}</mat-label>
    <input
      matInput
      formControlName="closingDate"
      [matDatepicker]="picker"
      [matDatepickerFilter]="filterBeforeToday"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="electionForm.controls.closingDate.hasError('required')">
      {{ "ELECTION.CLOSING_DATE" | translate }} {{ "IS_REQUIRED" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="app-form-field" appearance="outline">
    <mat-label>{{ "ELECTION.INPUT.CANDIDATES_OPTIONS" | translate }}</mat-label>
    <mat-chip-list #chipList formArrayName="candidateNames">
      <mat-chip
        *ngFor="let candidate of candidateControls.value"
        [selectable]="selectable"
        (removed)="remove(candidate)"
      >
        {{ candidate }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New option..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-hint
      *ngIf="
        candidateControls.hasError('required') ||
        candidateControls.hasError('minlength')
      "
      >{{
        "ELECTION.INPUT.CANDIDATES_HINT"
          | translate: { minOptions: minCandidates }
      }}</mat-hint
    >
  </mat-form-field>

  <button
    class="app-form-button"
    mat-stroked-button
    color="accent"
    (click)="submit()"
    [disabled]="this.electionForm.invalid"
  >
    {{ "CONFIRM" | translate }}
  </button>
  <button
    class="app-form-button"
    mat-stroked-button
    color="primary"
    (click)="goBack()"
  >
    {{ "CANCEL" | translate }}
  </button>
</form>
