<mat-toolbar class="app-navbar" color="primary">
  <div>
    <a mat-button routerLink="/">
      <mat-icon>how_to_vote</mat-icon>
      <span>Voting Application</span>
    </a>

    <button mat-icon-button (click)="openPresentationDialog()">
      <mat-icon>help</mat-icon>
    </button>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menuLang">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #menuLang="matMenu">
      <button
        mat-menu-item
        *ngFor="let lang of languages"
        (click)="setLanguage(lang.code)"
      >
        <span [class.mat-body-strong]="isCurrentLanguage(lang.code)">
          {{ lang.caption }}</span
        >
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>
